.container {
    height: 100px;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 35px;
    .title {
        font-family: 'Times New Roman', Times, serif;
        color: #fff;
        text-transform: uppercase;
        margin-left: 20px;
        font-size: 20px;
    }
}
