.list-hp {
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
}
.title {
    margin: 20px 0;
}
.btn-them {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin: 20px;
}
.btn-them:hover {
    background-color: #0056b3;
}
