.box-menu {
    background: var(--primary);
    color: #fff;
    right: 0;
    position: absolute;
    top: 100%;
    margin-top: 1px;
    padding: 7px 20px;
    border-radius: 0 0 10px 10px;
    ul {
        display: flex;
        list-style: none;
        padding: 0;
        li {
            font-weight: bold;
            padding-left: 10px;
            position: relative;
            margin-left: 5px;
            &::before {
                content: '';
                position: absolute;
                right: -7px;
                top: 0;
                height: 100%;
                width: 2px;
                background: #fff;
            }

            &:last-child::before {
                content: none;
            }
        }
    }
}
